# Dependencies
node_modules/
__pycache__/
*.pyc
.env

# Build
dist/
build/

# Firebase
firebase-credentials.json

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
./assessment-8b220-firebase-adminsdk-fbsvc-fcb27c697a.json
backend/assessment-8b220-firebase-adminsdk-fbsvc-fcb27c697a.json